<!DOCTYPE html>
<html>

<head>

    <title>Edit Movie</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="page">


    <!-- BANNER -->

    <div class="small-banner">

        <div>

            <p class="eyebrow">
                MOVIE LIBRARY
            </p>

            <h1>Edit movie</h1>

            <p>
                Update your movie information.
            </p>

        </div>

    </div>


    <!-- FORM -->

    <div class="form-card">

        <form
            method="POST"
            action="/update/{{ movie[0] }}"
        >


            <label>Movie Title</label>

            <input
                type="text"
                name="title"
                value="{{ movie[1] }}"
                required
            >


            <label>Genre</label>

            <input
                type="text"
                name="genre"
                value="{{ movie[2] }}"
            >


            <label>Rating</label>

            <select name="rating">

                <option value="1"
                    {% if movie[3] == 1 %}selected{% endif %}>
                    ★
                </option>

                <option value="2"
                    {% if movie[3] == 2 %}selected{% endif %}>
                    ★★
                </option>

                <option value="3"
                    {% if movie[3] == 3 %}selected{% endif %}>
                    ★★★
                </option>

                <option value="4"
                    {% if movie[3] == 4 %}selected{% endif %}>
                    ★★★★
                </option>

                <option value="5"
                    {% if movie[3] == 5 %}selected{% endif %}>
                    ★★★★★
                </option>

            </select>


            <label>Status</label>

            <select name="status">

                <option
                    value="Watched"
                    {% if movie[4] == "Watched" %}selected{% endif %}
                >
                    Watched
                </option>

                <option
                    value="Planning to Watch"
                    {% if movie[4] == "Planning to Watch" %}selected{% endif %}
                >
                    Planning to Watch
                </option>

            </select>


            <button type="submit">
                Save Changes
            </button>


        </form>

    </div>


    <a class="back-link" href="/">
        ← Back to movie library
    </a>


</div>

</body>
</html>
